/*GALLERY*/
.gallery {
	position:relative;
	width: 590px;
	background:#f0eed8;
	padding: 12px 20px 18px 20px;
	margin: 0 0 53px 0;
}
.gallery p {
	padding: 0 0 7px 0;
}
.gallery .main-frame{
	position:relative;
	width:590px;
	height:590px;
	overflow-x:hidden;
	margin:20px auto 0
}
.gallery .main-frame ul{
	position:absolute;
	top:0;
	left:0;
	list-style:none;
	width:11480px;
	white-space: nowrap;
}
.gallery .arr{
	position:absolute;
	bottom: 21px;
	float:left;
	width:20px;
	height:70px;
	outline:none;
	text-indent:-100000px;
	background:url(../i/gl/arrows.png) no-repeat -38px top;
}
.gallery .prev{
	left:22px;
	background-position: -20px 0;
}
.gallery .prev:hover, .gallery .prev.act{background-position:0 0;}
.gallery .arr.disabled{cursor:default}
.gallery .prev.disabled{background-position:-40px 0}
.gallery .next{
	right:22px;
	background-position: -80px 0;
}
.gallery .next:hover,.gallery .next.act{background-position:-100px 0}
.gallery .next.disabled{background-position:-60px 0}
.gallery .preview{position:relative;width:532px;height:70px;overflow-x:hidden;margin:0 auto;padding:3px 0 3px 3px;}
.gallery .preview .prev{top:0;left:0;width:12px;height:45px;background-position:-228px 0}
.gallery .preview .next{top:0;right:0;width:12px;height:45px;background-position:-228px -45px}
.gallery .preview ul{position:absolute;top:3px;left:0;list-style:none;float:left}
.gallery .preview ul li{position:relative;float:left;width:77px;}
.gallery .preview ul li a{float:left; margin: 0 4px 0 0;outline:none}
.gallery .preview ul li a.last{margin: 0;}
.gallery .preview ul li img{opacity:0.6;filter:alpha(opacity=60);margin:0 0 0 3px}
.gallery .preview ul li img.act-image{opacity:1;filter:alpha(opacity=100)}
.gallery .preview .frame{position:absolute;top:0;left:0;width:76px;height:76px;cursor:pointer;background:url(../i/gl/frame.gif) no-repeat left top}
.gallery .preview ul li,.search-form .switcher li{float:left}
.gallery .preview a{
	width: 72px;
	height: 70px;
	overflow: hidden;
}
.gallery .preview img {
	width: 100%;
	height: 100%;
}
.gallery .main-frame ul li{
	display: inline-block;
	width:590px;
}
.gallery ul li .hide {display:none}
.gallery .dcr{
	height: 70px;
	overflow-y: scroll;
	padding: 5px 10px;
	margin: 10px 0;
}
.gallery hr {
	width: 100%;
	height: 1px;
	background: #4e794f;
	border: none;
}
.gallery .dcr h3{font-family:Georgia;font-size:18px;font-weight:700;padding:7px 0 3px}
.gallery .dcr p{font-family:Tahoma, Geneva, Kalimati;font-size:12px}
/*GALLERY[end]*/